.container {
    display: grid;
    width: 100vw;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
    grid-gap: 1%;
    grid-template-areas:
        "header header header header header"
        ".  main main main ."
        ".  main main main  ."
        ".  section section sidebar ."
        "footer footer footer footer footer"
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #2e2e2d;
    align-items: center;
    grid-template-areas:
        ". menu  ."
}

.menu {
    grid-area: menu;
    text-align: center;

}

.nav-item {
    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #f8f7f7;
    padding: 5px;
}

.main {
    grid-area: main;
    width: 100%;
    height: 100%;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    grid-template-areas:
        "content-1 content-2 content-2"
        "content-1 content-5 content-6"
}

.content-1 {
    grid-area: content-1;
    background-image: url("img/Image№1.png");
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100%;
    border: 1px solid red;

}

.content-2 {
    grid-area: content-2;
    background-image: url("img/Image№4.png");
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid red;

}

.content-5 {
    grid-area: content-5;
    background-image: url("img/Image№3.png");
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100%;
    object-fit: cover;

}

.content-6 {
    grid-area: content-6;
    background-image: url("img/Image_5.png");
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.section {
    grid-area: section;
    border: 1px solid red;
    grid-template-areas:
        "section-1 section-1 aside"
        "section-1 csection-1 aside"
}

.img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1psx solid #b3ecf9;
}

.white-box {
    position: relative;
    width: 730px;
    height: 249px;
    left: 408px;
    top: 1082px;
    border: 1psx solid red;
}

p {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
}

.footer {
    grid-area: footer;
    background-color: #2e2e2d;
    align-items: center;
    width: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 1fr;
    text-align: center;
    grid-template-areas:
        "something post newsletter"
}

.something {
    grid-area: something;
    color: #f8f7f7;
}

.post {
    grid-area: post;
    color: #f8f7f7;
}

.newsletter {
    grid-area: newsletter;
    color: #f8f7f7;
}