.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1%;
    grid-template-areas:
        "header header header header header"
        " .  main main main . "
        " .  main main main  . "
        " .  section section sidebar . "
        "footer footer footer footer footer"
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #2e2e2d;
    align-items: center;
    grid-template-areas:
        ". menu  ."
}

.menu {
    grid-area: menu;
    text-align: center;
}

.nav-item {
    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #f8f7f7;
    padding: 5px;
}

.main {
    grid-area: main;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "content-1 content-2 content-3"
        "content-1 content-4 content-5"
}

.content-1 {
    grid-area: content-1;
    background-image: url("img/2cell.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.content-2 {
    grid-area: content-2;
    background-image: url("img/yellowCar.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.content-3 {
    grid-area: content-3;
    background-image: url("img/grayCar.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.content-4 {
    grid-area: content-4;
    background-image: url("img/bmw.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.content-5 {
    grid-area: content-5;
    background-image: url("img/oldCar.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.section {
    grid-area: section;
    grid-template-areas:
        "section-1 section-1 aside"
        "section-1 csection-1 aside"
}

.img {
    grid-area: section-1;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border: 1px solid #ec1426;
}

.white-box {
    grid-area: section-1;
    position: relative;
    width: 90%;
    height: 20%;
    background: olivedrab;
    margin: 5%;
}

p {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
}

.aside {
    grid-area: aside;
    background: rgb(40, 72, 179);
    background-image: url("img/aside1/Bitmap.png")
}

.footer {
    grid-area: footer;
    background-color: #2e2e2d;
    align-items: center;
    width: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 1fr;
    text-align: center;
    grid-template-areas:
        "something post newsletter"
}

.something {
    grid-area: something;
    color: #f8f7f7;
}

.post {
    grid-area: post;
    color: #f8f7f7;
}

.newsletter {
    grid-area: newsletter;
    color: #f8f7f7;
}