.header {
    grid-area: header;
    background-color: #dedee2;
    text-align: center;
    padding: 30px;
}

.sidebar {
    grid-area: sidebar;
    background-color: #b0eed6;
    text-align: center;
    padding: 30px;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 40px;
    grid-template-areas:
        "content-1 content-1"
        "content-2 content-3"
        "content-4 content-4"
}

.content-1 {
    grid-area: content-1;
    text-align: center;
    padding: 30px;

}

.content-2 {
    grid-area: content-2;
    background-color: #f8e9b7;
    text-align: center;
    padding: 30px;
    margin-left: 20px;
}

.content-3 {
    grid-area: content-3;
    background-color: #f8e9b7;
    text-align: center;
    padding: 30px;
    margin-right: 20px;
}

.content-4 {
    grid-area: content-4;
    background-color: #f8e9b7;
    text-align: center;
    padding: 30px;
    margin: 20px;
}

@media screen and (min-width:1024px) {
    .footer {
        grid-area: footer;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        background-color: #d3d3d8;
        text-align: center;
        padding: 15px;
        grid-template-areas:
            "footer_section1 footer_section2 footer_section3 footer_section4"
    }

    .container {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 2fr 1fr 1fr 1fr;
        background-color: #f3efe2;
        grid-template-areas:
            "header header header"
            "main main sidebar"
            "main main sidebar"
            "main main sidebar"
            "main main sidebar"
            "main main sidebar"
            "footer footer footer"
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .footer {
        display: none;
    }

    .container {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-columns: 2fr;
        grid-template-rows: 1fr 2fr 1fr 1fr;
        background-color: #f3efe2;
        grid-template-areas:
            "header header "
            "main main"
            "main main"
            "sidebar sidebar"
            "sidebar sidebar"
    }
}

@media screen and (max-width:767px) {
    .footer {
        display: none;
    }

    .container {
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-columns: 2fr;
        rid-template-rows: 1fr 2fr 1fr 1fr;
        background-color: #f3efe2;
        grid-template-areas:
            "header header "
            "main main"
            "main main"
            "sidebar sidebar"
            "sidebar sidebar"
    }
}


.footer_section1 {
    grid-area: footer_section1;
    background-color: #e6ebec;
    margin: 20px;
}

.footer_section2 {
    grid-area: footer_section2;
    background-color: #e6ebec;
    margin: 20px;
}

.footer_section3 {
    grid-area: footer_section3;
    background-color: #e6ebec;
    margin: 20px;
}

.footer_section4 {
    grid-area: footer_section4;
    background-color: #e6ebec;
    margin: 20px;
}