.body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    flex: 0 1 920px;
    padding: 40px;
}

.header {
    display: flex;
}

.space_menu {
    display: flex;
    width: 100%;
}

.mainmenu {
    display: flex;
    width: 40%;
    align-items: baseline;
    justify-content: space-around;
    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
}

.mainmenu :hover {
    text-decoration: underline;
}

.main {
    display: flex;
    width: 100%;
    height: 900%;
    flex: 1;
    align-items: center;

}


.description {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
}


.close_to_description {
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-end;
}

.round {
    display: flex;
    border-radius: 50%;
    width: 243px;
    height: 243px;
    left: 760px;
    top: 210px;
}

a:visited {
    color: #8a8a83;
}

a:link {
    color: #000000;
}

.button {
    height: 47px;
    left: 148px;
    top: 477px;
    background: #FF6464;
    border: 0;
    border-radius: 2px;
    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
}

.button:hover {
    background: brown;
}

.button_block {
    display: flex;
    width: 100%;
    height: 100px;
    padding: 15 px;
    margin: 15px;
    align-items: center;
    justify-content: flex-start;
}

.section {
    background: #EDF7FA;
    display: flex;
    width: 100%;
    height: 50%;
    flex-wrap: wrap;

}

.some_menu {
    display: flex;
    width: 100%;
    justify-content: space-around;

}

.MyServ {
    display: flex;
    flex: 0 1 45%;
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
}

.view_all {
    display: flex;
    flex: 0 1 45%;
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    text-align: right;
    color: #00A8CC;
}

.article_block {
    display: flex;
    flex: 1;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    flex: 0 1 48%;
    background-color: white;
    margin: 2%;
}

.menu {
    text-decoration: none;
    padding: 10px;
    font-weight: bolder;
    font-family: 'Heebo', 'Times New Roman', Times, serif;
}

h1 {
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
}

h2 {
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
}

h3 {
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #8a94ec;
}

h4 {
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #8a94ec;
}

p {
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #21243D;
}