.form {
    display: flex;
    width: 600px;
    height: 700px;
    flex-direction: column;

    border: solid;
    border-width: 1px;

}

.fields {
    display: flex;
    align-self: center;
    margin: 5%;
    border-width: 1px;
    border-color: black;
}

#arr,
#max,
#min,
#aver,
#mult,
#sum,
#input {
    height: 50px;
    width: 400px;
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.botton {
    height: 50px;
}